html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body #app {
    width: 100%;
    height: 100%;
}
.vue-btn-primary {
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #0d6efd;
    color: #0d6efd;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.vue-btn-primary:hover {
    background-color: #0d6efd;
    color: #fff;
}

.error {
    color: rgb(255, 68, 68);
}

.router-link-exact-active {
    background-color: rgba(105, 108, 255, 0.387);
    box-shadow: none;
    color: rgb(25, 26, 68);
}
table {
    box-shadow: 2px 2px 10px #cccccc;
    border-radius: 16px;
    overflow: hidden;
}
table td{
    padding: 10px 10px;
}